api:
  container_name: api
  image: jdelight/films_api:0.1.2
  ports:
    - "8000:8000"
  tty: true
  env_file: .env
  command: /var/www/app/start.sh

db:
  container_name: db
  image: jdelight/films_db
  env_file: .env
  volumes:
    - "dbdata:/var/lib/postgresql/data"

lb:
  image: rancher/load-balancer-service
  ports:
    - 80:8000
  links:
    - api:api